.site {
    max-width: 70em;
    margin: auto;
}

.button {
    margin-left: 30px;
}

input, textarea {
    display: block;
    margin: auto;
    resize: none;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
    padding-top: 0.5em;
}

p {
    margin: 0;
    padding: 0 0 1.5em 0;
}

.form, p {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 0.5em 0 1.5em 0;
}

ul {
    display: table;
    margin: 0 auto;
    list-style-type: none;
}

.fa-gear {
    margin: 0.5em;
}

.rpl {
    display: inline-block;
    margin: 0 0.5em 0.5em 0.5em;
}

.replacement {
    text-align: center;
}