.site {
    max-width: 70em;
    margin: auto;
}

.button {
    margin-left: 30px;
}

input, textarea {
    display: block;
    margin: auto;
    resize: none;
}

.form {
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
}

ul {
    display: table;
    margin: 0 auto;
    list-style-type: none;
}

.fa-gear {
    margin: 0.5em;
}